# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
data/

# Archivos comprimidos
*.zip
*.tar.gz
*.rar

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# Virtual Environment
venv/
env/
ENV/
.venv/
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Dataset y archivos grandes
data/*.json

# Sistema operativo
.DS_Store
Thumbs.db.venv/
